<main class="padding2" id="searchPage">
  <form id="searchForm">
    <input name="title" placeholder="title" type="text" />
    <input name="author" placeholder="author" type="text" />
    <button>Submit</button>
  </form>
</main>