<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="y-outer">
      <%- include('../partials/header', isAuthenticated) %>
      <%- include(`../partials/main/${template}`); %>
      <%- include('../partials/footer'); %>
    </div>
    <script src="../js/app.js"></script>
  </body>
</html>